<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active">
			<a ng-href="#">Home</a>
		</li>
		<li>
			<a ng-href="#">About</a>
		</li>
		<li>
			<a ng-href="#">Contact</a>
		</li>
	</ul>
	<h3 class="text-muted">webapp</h3>
</div>

	<pre>From {{dat1}} to {{dat2}}</pre>	
asdf
	<div ng-model="dat1">
			<datepicker min="minDate" show-weeks="{{showWeeks}}"></datepicker>
	</div>
</br></br>
	<div ng-model="dat2">
			<datepicker min="minDate" show-weeks="{{showWeeks}}"></datepicker>
	</div>
</br></br>
	<div>
	<button ng-click="search()">Accept</button>
	</div>
